<div class="panier">

  <h2 class="title_panier">Panier</h2>
  <div class="block_game">
      <%= image_tag("lol-img-i.png", alt: "lol", class: "img_panier") %>
    <h4>League of Legends</h4>
  <div class="trait_croix"></div>

  </div>
  <div class="trait_croix_bas"></div>
  <h3 class="">équipe1</h3>
    <h3 class="">équipe2</h3>

    <div class="trait_right"></div>
    <div class="trait_left"></div>
    <div class="trait_bot"></div>
    <div class="trait_pencher"></div>



</div>
