<div class="mx-auto" style="width: 800px; ">
  <div class="d-flex justify-content-center mt-5 mb-2">
    <h2>Bienvenue dans la boutique</h2>
  </div>
  <div class="search">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Chapeau..."
          %>
        <%= submit_tag "Rechercher", name: "", class: "btn btn-outline-primary rounded-5" %>
      <% end %>
  </div>
</div>
