<div class = containere>
  <div class= "background">
      <h1>BET ESPORT</h1>
    <div class= "classic-font">
      <p>Bienvenue sur <strong>BET-ESPORT</strong>, le premier site de paris e-sportif 100% gratuit </p>
      <p>Vous êtes mineurs et/ou n'avez pas envie de dépenser de l'argent réel dans les sites de paris ?   </p>
      <p>Aucun problème, ici vous utiliserez de l'argent fictif qui vous permettra de vous démarquer en achetant les
      plus beaux cosmétiques de la boutique !</p>
    </div>
  </div>
  <%= link_to "Rejoignez-nous", matchs_path, class:"button" %>

</div>
