.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 7%;
  grid-row-gap: 100px;
  margin-right: 1%;
  margin-left: 1%;
}

.card_custom {
  border: solid 2px #FF7D29;
  border-radius: 10px;
  padding: 4%;
}

.img_game {
  height: 80px;
}

.top_element_card {
  float: left;
  display: flex;
  width: 100%;
}

.card_info_title{
  margin-left: 5%;
}

.game_title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.team_match {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 3%;
  height: 65%;

  .team1 {
    width: 48%; height: 75%;
    background-color: #FFEEA9;
    border-radius: 10px;
    border: solid 1px #FFEEA9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    max-height: 100%;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;

  }

  .team2 {
    width: 48%; height: 75%;
    background-color: #FFEEA9;
    border-radius: 10px;
    border: solid 1px #FFEEA9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    max-height: 100%;
    text-align: right;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}

.picture_team {
  height: 30px;
}

.running {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(134, 0, 0);
  animation: colorblink 2s infinite;
}

@keyframes colorblink {
0% { }
50% { color:rgb(235, 81, 81); }
}

.game_info {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.game_date{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: medium;
}
