.navbar {
  background-color: #FF7D29;
  height: 70px;
  display: flex;
}
.avatar{
height: 100%;
width: auto;
}
.bank_text{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
#trait_cote{
  border-right: 1px solid white;
  height: 80%;
}

.part_left_navbar{
width: 35%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
color: #FFFFFF;
padding-left: 2%;
}
.title{
text-decoration: none;
color: #FFFFFF;
}
.part_right_navbar{
  display: flex;
  justify-content: space-between;
  width: 23%;
  color: #FFFFFF;
  align-items:center;
  padding-right: 3%;
}
.paris{
  display: flex;
  height: 100%;
  justify-content:space-around;
}
.link_to_text{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.boutique{
  display: flex;
  text-align: center;
  height: 100%;
  justify-content: space-around;
}
.dropdown-menu{
  background-color: #FF7D29;
}
.dropdown-item{
color: #FFFFFF;
}
.img_cash_white{
  height: 30px;
  padding-left: 10px;
}
