.panier{
width: 20%;
height: 400px;
margin: 0 auto;
top: 150px;
position: sticky;
top: 0.5;
}
.display_none{
display: none;
}
.title_panier{
  color: white;
text-align: center;
  width  : 90%;
  height : 0;
  border-bottom  : 50px solid #FF7D29;
  border-left: 20px solid transparent;
  position : relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;

}
.title_panier:after {
  width  : 0;
  height : 0;
  content: '';
  border-top : 50px solid #FF7D29;
  border-right  : 20px solid transparent;
  position : absolute;
  left: 100%;
}
.trait_right{
border-right: #FF7D29 solid 1px;
height: 80%;
float: right;
width: 0;
}
.trait_left{
  border-left: #FF7D29 solid 1px;
  height: 100%;
  width: 0;
}
.trait_bot{
border-bottom: #FF7D29 solid 1px;
position: absolute;
float: inline-end;
width: 70%;
right: 20%;
}
.trait_pencher{
border-right: #FF7D29 1px solid;
transform: rotate(30deg); /* Équivalent à rotateZ(45deg) */
width: 0;
position: absolute;
right: 7%;
height: 20%;
top: 96%;
}

.block_game{
width: 100%;
height: 20%;
display: flex;
align-items: center;
margin: 0 auto;
position: absolute;
}
.block_game h4{
padding-top: 3%;
padding-left: 10%;
font-size: 100%;
width: 80%;

}
.img_panier{
height: 60%;
width: 20%;
padding-left: 2%;
}
.trait_croix{
  border: #FF7D29 1px solid;
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 18%;
}
.trait_croix_bas{
  border: #FF7D29 1px solid;
  width: 0;
  height: 10%;
  position: absolute;
  left: 52%;
  top: 37%;
}
.img_team{
height: 20px;
}
.team_block_1{
  height: 10px;
  position: absolute;
  top: 38%;
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  margin-left: 2%;

}
.title_team1{
  font-size: 0.7rem;
}
.team_block_2{
  height: 10px;
  position: absolute;
  top: 38%;
  display: flex;
  justify-content: space-evenly;
  right: 0;
  width: 45%;
  margin-right: 2%;
}
.title_team2{
  font-size: 0.7rem;
}
.form_money{
  position: absolute;
  top: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3%;
  margin-top: 3%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  height: 50%;
  width: 100%;
}
.money{
  width: 45%;
  position: absolute;
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  bottom: 38%;
  left: 40%;
}
.mise{
  width: 100%;
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
}
.odd{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
}
.button_panier{
  background-color: #FF7D29;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 6%;
  font-size: 10px;
  border-radius: 10px;
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 2%;
  width: 47%;

}
.button_panier:hover{
  opacity: 0.8;
}
.btn_panier{
  width: 100%;
  position: absolute;
  top: 110%;
  display: flex;
  justify-content: space-between;
}
